* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    background-color: #7ee8fa;
    background-image: linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%);
    /* background is from egggradient.com */
}

h2 {
    font-size: 5rem;
    font-weight: bold;
    padding: 3rem;
}

.image {
    width: 10rem;
    padding-top: 3rem;
}

.coming-soon {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.countdown {
    display: flex;
    width: 40rem;
    justify-content: space-around;
    text-align: center;
}

.day, .hour, .minute, .seconds {
    font-size: 3rem;
}

/* responsiveness */

/* TODO: make .countdown width to 25rem  */
/* TODO: make h2 fontsize 2rem and padding 9%  */
/* TODO: make .day, .hour, .minute, .seconds fontsize 2rem  */

@media screen and (max-width: 500px) {
    .countdown{
        width: 25rem;
    }
    h2 {
        font-size: 2rem;
        padding: 9%; 
    }
    .day,
    .hour,
    .minute,
    .seconds{
        font-size: 2rem;
    }
}